*.class
.idea/*
!.idea/codeStyles
target/
*.pyc
.env
sbt-cache/
.bsp/

# For Windows
# protobridge are installed below directory
/null/

# For rollback-cassandra
rollback-cassandra/.toDelete
.toDelete
