name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  SBT_OPTS: -Dlerna.enable.discipline

jobs:
  test:

    runs-on: ubuntu-latest

    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    # https://www.scala-sbt.org/1.x/docs/GitHub-Actions-with-sbt.html#Caching
    - name: Coursier cache
      uses: coursier/cache-action@v5

    - name: Check code format
      run: sbt scalafmtCheckAll

    - name: Run tests
      run: sbt clean coverage test

    - name: Run integration tests
      run: sh ./scripts/run-multijvm-test.sh 5

    - name: Publish test report
      uses: mikepenz/action-junit-report@v2
      with:
        check_name: ScalaTest Report
        report_paths: 'target/**test-reports/TEST-*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Check the test coverage is above the minimum criteria
      run: sbt coverageAggregate

      # https://www.scala-sbt.org/1.x/docs/GitHub-Actions-with-sbt.html#Caching
    - name: Clean files for caching
      run: |
        rm -rf "$HOME/.ivy2/local" || true
        find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
        find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
        find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
        find $HOME/.sbt                              -name "*.lock"               -delete || true
